
<h1 class= "splash-head">Welcome to TRIPleStar</h1>
<a class = "splash-subhead">旅を記録し、旅をみつけるSNS</a>
<br>
<br>
<a href = "/users/sign_up">
<button class = "button-xlarge pure-button">登録はこちら</button>
</a>

