@import "purecss";

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

.splash-container {
    background: #ffc700;
    z-index: 1;
    overflow: hidden;
    width: 100%;
      height: 100%;
    top: 20;
    left: 0;
    position: fixed !important;
}
.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 50px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    font-size: 25px;
    color: white;
    letter-spacing: 0.05em;
}

.pure-button {
    background-color: #FFFFFF;
    color: #ffc700;
    padding: 0.5em 2em;
    border-radius: 5px;
}

.pure-img{
}


      #map {
        height: 300px;
      }
  